// I. Colors
$white: #f5f5f5;
$gray: #808080ff;
$black: #181818;
$board-green: #2c733bff;

// II. Sizes
$header-height: 70px;

// 1. Content
$large-screen-content-width: 800px;
$small-screen-content-width: 95vw;
$small-content-max-width-bp: calc($large-screen-content-width + 50px);

// 2. Cards
$card-x-gap: 10px;
$total-columns: 7;
$card-height-width-aspect-ratio: 0.71428571429;

// - Width
$card-width: calc(($large-screen-content-width / $total-columns) - $card-x-gap);
$small-card-width: calc(
  ($small-screen-content-width / $total-columns) - $card-x-gap
);

// - Height
$card-height: calc($card-width / $card-height-width-aspect-ratio);
$small-card-height: calc($small-card-width / $card-height-width-aspect-ratio);
